body{
    body-margin: 0;
    background-color: darkred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

main {
    background-color: white;
    width: 80%;
    margin: 0 auto 1rem auto;
    padding : 20px 1rem 1rem 1rem;;
}

header {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: auto;
}