body{
    body-margin: 0;
    background-color: darkred;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;

}

main {
    background-color: white;
    width: 80%;
    margin: 0 auto 1rem auto;
    padding : 20px 1rem 1rem 1rem;;
}

header {
    background-color: lightgrey;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: auto;
}

#orderButton {
    background-color: green;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.2rem;
    border-radius: 5px;


}
header img {
    
    height: auto;
    border-radius: 10px;
    float: right;
    margin: 0 auto 1rem auto;
    width: 120px;
    border: black solid 3px;
    
}

legend {
    font-size: 2.0rem;
    font-weight: bold;
    color: rgb(8, 233, 8);
    padding: 0 1rem;
    font-variant: small-caps;
    
}

fieldset{
    border: 2px solid rgb(4, 88, 4);
    padding: 1rem;
    margin-bottom: 1.25rem;
}
labels{
    display: block;
    padding-bottom: .2rem;

}